# Ignore SQLite and database files
*.sqlite
*.db
*.parquet

# Ignore R-specific environment files
.Rhistory
.RData
.Ruserdata
.Rproj.user/

# Ignore all trained models and data frames (anywhere in the project)
*.rds
outputs/*.rds

# Ignore large data folders if you make them
/data/